Medicina\BackendBundle\Entity\Oficina:
  type: entity
  table: null
  fields:
    id:
      type: integer
      id: true
      generator:
        strategy: AUTO
    nombre:
      type: string
      length: 255
  lifecycleCallbacks: {  }
