*{padding:0px;margin:0px;}
img,div,table,td,tr,th,tbody,row,col,rowgroup,colgroup,iframe{border: 0px;border:none;}
html{height: 100%;}
body{margin: 0 auto;padding: 0px; height:100%;}
textarea {resize: none;}

/*//////////////////////////////////////////////////////*/
/*/// ESTRUCTURA PRINCIPAL /////////////////////////////*/
/*//////////////////////////////////////////////////////*/
.body{background-color: #274567;background-image: url(../images/map_bg.jpg);background-attachment: fixed;background-repeat: repeat-x;font-family: Verdana,Arial,Helvetica,sans-serif;}
/*.body{background-color: #274567;background-image: url(../images/login/bkg_grisDF_1.png);background-attachment: fixed;background-repeat: repeat-x;font-family: Verdana,Arial,Helvetica,sans-serif;}*/
.contenedor{max-width: 911px;height: 100%;margin: 0 auto;padding: 20px 0px 0px 0px;}
.barrasesion{width: 100%;text-align: center;height: 42px;position: fixed;background: url(../images/session/fondobarrasup.png) repeat-x top;background-color: transparent;z-index: 9999;left:0px; top:0px;}
.mid{max-width: 911px;float:left;margin: 45px 0px 0px 0px;}
.tmidsup, tmidsup tbody, .tmidmid, .tmidmid tbody{max-width: 911px;margin: 0 auto;border-collapse: collapse;}
/*tabla supmedio*/
.sa1{width: 6px;height: 37px;background-color: transparent;}
.sa2{background-image: url(../images/bordessup/sa2.png);background-repeat: no-repeat;width: 11px;height: 37px;background-color: transparent;}
.sa3{background-image: url(../images/bordessup/sa3.png);background-repeat: repeat-x;width: 75px;height: 67px;background-color: transparent;text-align: center;vertical-align: middle;}
.sa4{background-image: url(../images/bordessup/sa4.png);background-repeat: no-repeat;width: 6px;height: 37px;background-color: transparent;}
.sa5{background-image: url(../images/bordessup/sa5.png);background-repeat: repeat-x;width: 793px;padding-top: 7px;height: 30px;background-color: transparent;text-align:right;}
.sa5 span{padding-left: 10px;height: 23px;padding-top: 7px;float: left;color: #fff;font-size: 10pt;font-family: Verdana;font-style:italic;}
.sa5 div{width:27px;height:29px;float:right; padding-top:1px;}
.sa5 img{width: 28px;height: 28px;}
.sa6{background-image: url(../images/bordessup/sa6.png);background-repeat: no-repeat;width: 14px;height: 37px;background-color: transparent;}
.sa7{width:6px;height:37px;background-color: transparent;}
.sb1{width: 6px;height: 30px;background-color: transparent;}
.sb2{background-image: url(../images/bordessup/sb2.png);background-repeat: repeat-y;width: 11px;height: 30px;background-color: transparent;}
.sb4{background-image: url(../images/bordessup/sb4.png);background-repeat: repeat-y;width: 6px;height: 30px;background-color: transparent;}
.menu{background-image: url(../images/bordessup/sb5.png);background-repeat: repeat-x;padding-left: 15px;width: 778px;height: 30px;background-color: transparent;color: #fff;}
.sb6{background-image: url(../images/bordessup/sb6.png);background-repeat: no-repeat;width: 14px;height: 30px;background-color: transparent;}
.sb7{width:6px;height: 30px;background-color: transparent;}
.sc1{background-image: url(../images/bordessup/sc1.png);background-repeat: no-repeat;width: 6px;height: 7px;background-color: transparent;}
.sc2{background-image: url(../images/bordessup/sc2.png);background-repeat: no-repeat;width: 11px;height: 7px;background-color: transparent;}
.sc3{background-image: url(../images/bordessup/ssombrasola.png);background-repeat: repeat;width: 75px;height: 7px;background-color: transparent;}
.sc4{background-image: url(../images/bordessup/sc4.png);background-repeat: no-repeat;width: 6px;height: 7px;background-color: transparent;}
.sc5{background-image: url(../images/bordessup/sc56.png);background-repeat: repeat-x;width: 793px;height: 7px;background-color: transparent;}
.sc6{background-image: url(../images/bordessup/sc56.png);background-repeat: repeat-x;width: 14px;height: 7px;background-color: transparent;}
.sc7{background-image: url(../images/bordessup/sc7.png);background-repeat: no-repeat;width:6px;height:7px;background-color: transparent;}
/*tabla medio e inferior*/
.b1{background-image: url(../images/bordes/izq.png);background-repeat: repeat-y;width:6px;background-color: transparent;}
.tdmed{width: 899px;vertical-align: top;background-color: #fff;}
.divinterna{padding-top: 1px;}
.b3{background-image: url(../images/bordes/der.png);background-repeat: repeat-y;width:6px;background-color: transparent;}
.c1{background-image: url(../images/bordes/botizq.png);background-repeat: no-repeat;width: 6px;height: 6px;background-color: transparent;}
.c2{background-image: url(../images/bordes/bot.png);background-repeat: repeat-x;width: 899px;height: 6px;background-color: transparent;}
.c3{background-image: url(../images/bordes/botder.png);background-repeat: no-repeat;width:6px;height:6px;background-color: transparent;}
.trmidinf{height: 6px;}
.bot{max-width:911px;padding-top: 25px;padding-bottom:40px;float: left;font-family: Arial;color: #dcdcdc;font-size: 8pt;text-align: right;}
.bot1{float:left;width:460px;padding:10px 0px 0px 40px;text-align:left;}
.bot1 a{text-decoration:none;color:#fff;margin-left:10px;}
.bot1 a:hover{text-decoration:underline;}
.bot2{width:315px;float:left;padding:2px 3px 0px 0px;}
.imgico2{float:left;}

/*//////////////////////////////////////////////////////*/
/*///////////////// MENU SISTEMAS //////////////////////*/
/*//////////////////////////////////////////////////////*/
ul#topnav{margin: 0;padding: 0;float: left;width: 100%; list-style: none;height: 30px;font-size: 1.1em;}
ul#topnav li {float: left;margin: 0; padding: 0;position: relative; /*--Important--*/}
ul#topnav li.botonfin {width:20px;}
ul#topnav li a {float: left;height: 21px;background: url(../images/menu/menucorte.png) no-repeat left bottom;text-decoration:none;color:#fefefe;}
ul#topnav li a:hover {background: url(../images/menu/menucorte.png) repeat-x bottom;}
ul#topnav div.botonfinal{background: url(../images/menu/menucorte.png) no-repeat left bottom;width:20px;height:30px;}
ul#topnav a.menuboton1{padding-right: 15px;padding-left: 15px;padding-top: 9px;font-family: Verdana;font-size: 11px;font-weight: lighter;}
ul#topnav a.menuboton2{background: url(../images/menu/menucorte2.png) no-repeat left bottom;padding-right: 15px;padding-left: 30px;padding-top: 9px;font-family: Verdana;font-size: 11px;font-weight: lighter;}
ul#topnav a.menuboton2:hover{background: url(../images/menu/menuhover2.png) no-repeat left bottom;}
/*SubMenuSistemas*/
ul#topnav li .sub {position: absolute;top: 30px; left: 0;padding: 10px 10px 15px 15px;background-color: #516b7f; background-repeat: repeat;float: left;/*--Bottom right rounded corner--*/-moz-border-radius-bottomright: 5px;-khtml-border-radius-bottomright: 5px;-webkit-border-bottom-right-radius: 5px;/*--Bottom left rounded corner--*/-moz-border-radius-bottomleft: 5px;-khtml-border-radius-bottomleft: 5px;-webkit-border-bottom-left-radius: 5px;display: none; /*Oculto al principio*/}
ul#topnav li .row {clear: both;float: left;width: 100%;margin-bottom: 10px;}
ul#topnav li .sub ul{list-style: none;margin: 0; padding: 0;width: 150px;float: left;}
ul#topnav .sub ul li {width: 100%;color: #fff;}
ul#topnav .sub ul li h2 {padding: 5px 0;background-image: none;font-size: 10pt;font-weight: normal;color: #c7f1ff;}/*Sub nav nombre cabecera*/
ul#topnav .sub ul li a{float: none;text-indent: 0;height: auto;background: url(../images/menu/navlist_arrow.png) no-repeat 5px 12px;padding: 7px 5px 7px 15px;display: block;text-decoration: none;color: #fff;font-size: 8pt;}
ul#topnav .sub ul li a:hover{color: #ddd;text-decoration: underline;background-color: transparent;background-attachment: scroll;background-repeat: no-repeat;}

/*//////////////////////////////////////////////////////*/
/*/// MENU BARRA DE SESSION ////////////////////////////*/
/*//////////////////////////////////////////////////////*/
.sesioncenter{text-align: right;width: 880px;height: 27px;padding-top: 6px;margin:0 auto;}
.sesioncenter img{float:left;}
.sesioncenter .imgico{margin-top:-2px;height:25px;width:25px;}
.divtitulo{float:left;padding:6px 0px 0px 2px;font-family: Arial;color: #fff;font-size: 8pt;font-weight: bold;}
.divbarrasesion{float:right;}
ul#itemsbarrasesion{margin: 0;padding: 0;float: left;list-style: none;height: 29px;}
ul#itemsbarrasesion ol{list-style: none;}
ul#itemsbarrasesion li{float: left;text-align:left;margin: 0; padding: 0;position: relative; /*--Important--*/}
ul#itemsbarrasesion li.sessionpad{padding-top:2px;}
ul#itemsbarrasesion li.botonfin {width:20px;}
ul#itemsbarrasesion li span{font-family: Verdana;color: #fff;margin-right: 5px;font-size: 10pt;vertical-align:top;}
ul#itemsbarrasesion li a{float: left;height: 22px;padding-top: 6px;color: #fefefe;text-decoration: none;}
ul#itemsbarrasesion li a:hover {background: url(../images/menu/menucorte.png) repeat-x bottom;}
ul#itemsbarrasesion div.botonfinal{background: url(../images/menu/menucorte.png) no-repeat left bottom;width:20px;height:30px;}
ul#itemsbarrasesion a.menuboton1{padding-right: 10px;padding-left: 10px;font-family: Verdana;font-size: 10px;font-weight: bold;}
ul#itemsbarrasesion a#mayuda{padding-right: 5px;padding-left: 5px;font-family: Verdana;font-size: 10px;font-weight: bold;}
ul#itemsbarrasesion a.menuboton1 span{padding-right: 2px;padding-left: 2px;font-family: Verdana;font-size: 10px;font-weight: bold;}
ul#itemsbarrasesion li a img{float: left;width:13px;height:13px;margin-right:2px;}
ul#itemsbarrasesion li a img.ayuda{float: left;width:16px;height:16px;margin-top:-2px;margin-right:-1px;}	
/*Session SubMenu*/
ul#itemsbarrasesion li .sub{position: absolute; top: 28px;left: 0;padding: 2px 10px 2px 2px;background-color: #303030;background-repeat: repeat;float: left;display: none;/*--Bottom right rounded corner--*/-moz-border-radius-bottomright: 5px;-khtml-border-radius-bottomright: 5px;-webkit-border-bottom-right-radius: 5px; /*--Bottom left rounded corner--*/-moz-border-radius-bottomleft: 5px;-khtml-border-radius-bottomleft: 5px;-webkit-border-bottom-left-radius: 5px;/*--Important--*//*Oculto al principio*/}
ul#itemsbarrasesion li #subayudaizq{left: -137px;} /*Solo para el submenu de la ayuda*/
ul#itemsbarrasesion li .row {clear: both;float: left;width: 100%;margin-bottom: 10px;}
ul#itemsbarrasesion li .sub ul{list-style: none;margin: 0; padding: 8px 0px 0px 8px;width: 150px;float: left;}
ul#itemsbarrasesion .sub ul li {width: 100%;color: #fff;}
ul#itemsbarrasesion .sub ul li h2 {padding: 5px 0;background-image: none;font-size: 10pt;font-weight: normal;color: #c7f1ff;}/*Cabezera de SubNav*/
ul#itemsbarrasesion .sub ul li a{float: none;text-indent: 0;height: auto;padding: 0px 0px 10px 20px;display: block;text-decoration: none;color: #fff;font-size: 8pt;}
ul#itemsbarrasesion .sub ul li img{float:left;width:13px;height:13px;margin-right:2px;}
ul#itemsbarrasesion .sub ul li a:hover{color: #fff;text-decoration: underline;background-color: transparent;background-image:none;background-attachment: scroll;background-repeat: no-repeat;}

/*//////////////////////////////////////////////////////*/
/*/// ESTRUCTURA INTERNA DEL SISTEMA ///////////////////*/
/*//////////////////////////////////////////////////////*/
.tablaprincipal, .tablaprincipal tbody{width:100%;margin: 0 auto;border-collapse: collapse;background-color:#fff;}
.trtitulopagina{background-color:#d8e1e6;height:60px;padding-bottom:15px;}
.trtitulopagina div{padding-left: 30px;font-family: Arial;color: #395e7b;font-size: 13pt;font-weight: bolder;}
.tdcuerpo{padding-top:15px;padding-bottom:15px;}
.tdcuerpomargen{padding:10px 20px 20px 20px;}
.componentes, .componentes tbody{width:100%;margin: 0 auto;border-collapse: collapse;}
.componentesAux, .componentesAux tbody{width:100%;margin: 0 auto;border-collapse: collapse;}
.componentes td{padding-top:10px;padding-bottom:10px;}
.componentesAux td{padding-top:10px;}
.col1, .col4{width:20px;} 
.col2{text-align:right;font-style:italic;background-color: #f3f6f7;width: 150px;padding-left: 10px;padding-right:10px;border-bottom: #dedede 1pt dashed;border-top: #dedede 1pt dashed;font-family: Arial;color: #808080;font-size: 10pt;font-weight: bold;}
.col3{padding-left:10px;padding-right:10px;border-bottom: #dedede 1pt dashed;border-top: #dedede 1pt dashed;font-family: Arial;color: #808080;font-size: 10pt;}
.contxtar div{float:left; color:#000}
.colAux{border-bottom: #dedede 1pt dashed;font-family: Arial;color: #808080;font-size: 10pt;}
.trbotones{background-color:#d8e1e6;height:60px;}
.trbotones td{text-align:center;}
.trbotonesPOP{height:60px;}
.trbotonesPOP td{text-align:center;}
.trbotonesPOP td input{float:right;}
.ui-dialog-content .col3 input[type=text] {min-width:150px;height:25px;padding:0px 5px 0px 5px;font-size:16px;font-weight:bold;}
.ui-dialog-content .col3 input[type=text].inchico{width: 100px;}
.ui-dialog-content .col3 input[type=text]:focus{outline:#99ddff solid 2px}
.ui-dialog-content .col3 textarea{min-width:150px;height:50px;padding:5px;font-size:12px;}
.ui-dialog-content .col3 textarea:focus{outline:#99ddff solid 2px}
.ui-dialog-content .col3 select{min-width:150px;height:25px;font-size:12px;font-weight:bold;}
.ui-dialog-content .col3 select:focus{outline:#99ddff solid 2px}
.ui-dialog-content .col3 option{padding-top:5px;font-size:12px;font-weight:bold;cursor:pointer;}
.divinterna input[type=text] {width: 350px;height:25px;padding:0px 5px 0px 5px;font-size:12px;font-weight:bold;}
.divinterna input[type=text].inchico{width: 100px;}
.divinterna input[type=text]:focus{outline:#99ddff solid 2px}
.divinterna textarea{width: 350px;height:50px;padding:5px;font-size:12px;}
.divinterna textarea:focus{outline:#99ddff solid 2px}
.divinterna select{width: 365px;height:25px;font-size:12px;font-weight:bold;}
.divinterna select:focus{outline:#99ddff solid 2px}
.divinterna option{padding-top:5px;font-size:12px;font-weight:bold;cursor:pointer;}


/*//////////////////////////////////////////////////////*/
/*/// GRILLAS //////////////////////////////////////////*/
/*//////////////////////////////////////////////////////*/
table.GrillaNormal {width:100%;border-collapse:collapse;font-size:12px;font-family:Verdana;}
table.GrillaNormal .GrillaHead th{padding:10px 15px 5px 15px;color: #395e7b;border-bottom: 1px solid #60add0;}
table.GrillaNormal .thLeft{text-align:left;}
table.GrillaNormal .GrillaRow {background-color:#e8edef;border:0;}
table.GrillaNormal .GrillaRowAlt {background-color:#d8e1e6;border:0;}
table.GrillaNormal .GrillaRow:hover,
table.GrillaNormal .GrillaRowAlt:hover {background-color:#abd1ef;border:0;}
table.GrillaNormal .GrillaRow td, 
table.GrillaNormal .GrillaRowAlt td {padding:15px;}
table.GrillaNormal tr.trsubGrilla .GrillaHead th{background-color:#fff;}
/*SubGrillaNormal*/
table.subGrillaNormal {width:100%;border-collapse:collapse;font-size:12px;font-family:Verdana;}
table.subGrillaNormal .GrillaHead th{padding:10px 15px 5px 15px;color: #395e7b;border-bottom: 1px solid #fff;}
table.subGrillaNormal .thLeft{text-align:left;}
table.subGrillaNormal .GrillaRow,
table.subGrillaNormal .GrillaRowAlt {background-color:#fff;border:0;}
table.subGrillaNormal .GrillaRow td, 
table.subGrillaNormal .GrillaRowAlt td {padding:10px 15px 10px 15px;}
table.subGrillaNormal td img {width:15px; height:15px;}
/*Paginación*/
.Pag_GrillaNormal{border-top: 1px solid #60add0;font-family:verdana;} 
.Pag_GrillaNormal td{padding:5px 2px 2px 2px;}
.Pag_GrillaNormal td table tbody tr td span{color:#ababab;border:1px #ababab solid;background-color:#f2f2f2;font-size:13px;padding:5px 10px;}	
.Pag_GrillaNormal td table tbody tr td a{color:#395e7b;border:1px #395e7b solid;float:left;font-size:13px;padding:5px 10px;text-decoration:none;}
.Pag_GrillaNormal td table tbody tr td a:hover{color:#01689f;border:1px #60add0 solid;background-color:#c6e0eb;}


/*//////////////////////////////////////////////////////*/
/*/// BOTONES DE ACCION ////////////////////////////////*/
/*//////////////////////////////////////////////////////*/
.btnOficinaNew { display: block; height: 34px; width: 142px; background: transparent url(../images/btn/oficinaNew.png) no-repeat scroll left top;margin-right:5px;border:none;cursor:pointer;}
.btnOficinaNew:hover{background-position:left -34px;}
.btnaceptar{ float: left; height: 34px;width: 96px;background: transparent url(../images/btn/aceptar.png) no-repeat scroll left top;margin-right:5px;border:none;cursor:pointer;}
.btnaceptar:hover{background-position:left -34px;}
.btncancelar{ float: left; display: block; height: 34px;width: 96px;background: transparent url(../images/btn/cancelar.png) no-repeat scroll left top;margin-right:5px;border:none;cursor:pointer;}
.btncancelar:hover{background-position:left -34px;}
input.btnguardar{height: 34px;width: 96px;background: transparent url(../images/btn/guardar.png) no-repeat scroll left top;margin-right:5px;border:none;cursor:pointer;}
input.btnguardar:hover{background-position:left -34px;}
input.btnagregar{height: 30px;width: 94px;background: transparent url(../images/agregar.png) no-repeat scroll left top;margin-right:5px;border:none;cursor:pointer;}
input.btnagregar:hover{background: transparent url(../images/agregarHover.png) no-repeat scroll left top;}
div.upload_img{position: relative;width: 130px;height:24px;overflow:hidden;background:url(../images/btn/upimg.png) left top no-repeat;clip:rect(0px, 80px, 24px, 0px );float:left}
div.upload_img:hover{background-position:left -24px;cursor:pointer;}
div.upload_img input{position: absolute; font-size:18px;left: auto;right: 0px;top: 0px;margin:0;padding:0;filter: Alpha(Opacity=0);-moz-opacity: 0;opacity: 0;width:130px;height:24px;cursor:pointer;}
input.FUimgporb{background:url(../images/btn/upimgb.png) left top no-repeat;width:130px;height:24px;border:0px;margin-left:5px;}
input.FUimgporb:hover{background-position:left -24px;}
input.FUimgBtn{background:url(../images/btn/upimgbtn.jpg) left top no-repeat;width:92px;height:24px;border:0px;cursor:pointer;float:left;}
input.FUimgBtn:hover{background-position:left -24px;}
input.FUimgporBox{background-color: #C8EFB5;border: 1px solid #84B56D;color: #5C7550;float: left;height: 22px;margin-left: 10px;padding-left: 3px;width: 120px;}

/*//////////////////////////////////////////////////////*/
/*/// ERROR ////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////*/
.error_body{background-color: #16b7e1;background-image: url(../images/error/fondowall.jpg);background-attachment: fixed;background-repeat: repeat;font-family: Verdana,Arial,Helvetica,sans-serif;font-size: small;}
.error_top{width: 911px;height: 45px;float: left;margin-top: 20px;}
.error_content{background-color: #dbdbdb;}
.error_face {padding-left:80px;width: 140px;float:left;}
.error_face2 {padding-left:230px;padding-bottom:40px;width: 140px;float:left;}		
.error_message {padding-top:30px;width: 600px;float:left;}
.error_message404 {padding-top:30px;}
.error_messagemain {font-size: 36px;font-weight: bold;color: #363636;float:left;}	
.error_messagemain2A {font-size: 100px;font-weight: bold;color: #363636;float:left;}
.error_messagemain2B {font-size: 18px;float:left;font-weight: bold;color: #363636;padding-top:65px;}		
.error_messagetext {font-size: 20px;font-weight: bold;color: #726C5A;clear:both;float:left;width:600px;}	
.error_mens{border-top:solid 2px #363636;padding:25px;clear:both;}
.error_mens404{border-top:solid 2px #363636;padding:10px;clear:both;font-size: 15px;font-weight: bold;color: #c83b24;float:left;width:879px;text-align:center;}
.error_tag{clear:both;padding-bottom:10px;text-align:left;}
.error_aviso{clear:both;padding: 0px 0px 20px 50px;text-align:left;}
.error_tagtxt{width: 200px;text-align: right;padding-bottom: 10px;padding-right: 10px;float: left;font-size: 13px;font-weight: bold;}
.error_tagtxt2{float: none;width:700px;font-size: 13px;font-weight: bold;padding:10px 0px 15px 25px;}
.error_camp{font-size: 13px;color: #c83b24;font-weight: bold;}
#ambext{clear:both;width:700px;overflow: auto;border:solid 1px #363636;}
#amb{padding:20px;background-color:#f1f1f1;width:2000px;color:#1b6fc2;}
#amblink, #amblink:hover{cursor:pointer;color: #c83b24;}
.divtsuperrior{padding-left:740px;padding-bottom:15px;}
.divtsuperrior a{margin-left:10px;}

/*//////////////////////////////////////////////////////*/
/*/// TEXT BOX COUNTER /////////////////////////////////*/
/*//////////////////////////////////////////////////////*/
.textnotification{border:3px solid #d55b5b;	background-color: #ffcdcd;padding:5px;}
.textstatus{background-color:transparent; background-image:none; color:#d55b5b;}

/*//////////////////////////////////////////////////////*/
/*/// VALIDADORES //////////////////////////////////////*/
/*//////////////////////////////////////////////////////*/
.inputContainer {position: relative;float: left;}
.formError{position: absolute;top: 300px;left: 300px;display: block;z-index: 5000;cursor: pointer;}
.ajaxSubmit {padding: 20px;background: #55ea55;	border: 1px solid #999;display: none}
.formError .formErrorContent {width: 100%;background: #ee0101;position:relative;z-index:5001;color: #fff;/*width: 160px;*/font-family: tahoma;font-size: 11px;border: 2px solid #ddd;box-shadow: 0 0 6px #000;-moz-box-shadow: 0 0 6px #000;-webkit-box-shadow: 0 0 6px #000;padding: 8px;margin-top:40px;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;}
.greenPopup .formErrorContent {background: #33be40;}
.blackPopup .formErrorContent {background: #393939;color: #FFF;}
.formError .formErrorArrow {width: 15px;margin: -2px 0 0 13px; position:relative; z-index: 5006;}
.formError .formErrorArrowBottom { box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;margin: 0px 0 0 12px; top:2px;}
.formError .formErrorArrow div {border-left: 2px solid #ddd;border-right: 2px solid #ddd;box-shadow: 0 2px 3px #444;-moz-box-shadow: 0 2px 3px #444;-webkit-box-shadow: 0 2px 3px #444;font-size: 0px;height: 1px;background: #ee0101;margin: 0 auto;line-height: 0;font-size: 0;display: block;}
.formError .formErrorArrowBottom div { box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;}
.greenPopup .formErrorArrow div {background: #33be40;}
.blackPopup .formErrorArrow div {background: #393939;color: #FFF;}
.formError .formErrorArrow .line10 {width: 15px;border: none;}
.formError .formErrorArrow .line9 {width: 13px;border: none;}
.formError .formErrorArrow .line8 {width: 11px;}
.formError .formErrorArrow .line7 {width: 9px;}
.formError .formErrorArrow .line6 {width: 7px;}
.formError .formErrorArrow .line5 {width: 5px;}
.formError .formErrorArrow .line4 {width: 3px;}
.formError .formErrorArrow .line3 {width: 1px;border-left: 2px solid #ddd;border-right: 2px solid #ddd;border-bottom: 0 solid #ddd;}
.formError .formErrorArrow .line2 {width: 3px;border: none;background: #ddd;}
.formError .formErrorArrow .line1 {width: 1px;border: none;background: #ddd;}