{% extends '::backend.html.twig' %}
{% block titulo %}
    <h1>Editar Oficina</h1>
{% endblock %}
{% block contenido %}
<form action="{{ path('oficina_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <div class="divinterna">  
    {{ form_widget(form) }}
     </div>
    <div class="divbotones">
        <button class="btnaceptar" type="submit"></button>
        <button class="btncancelar" type="button"  onclick='window.location.href = "{{ path('oficina')}}"'></button>
    </div>
</form> 
{% endblock %}
