<h1>Agregar Persona</h1>

<form action="{{ path('persona_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('persona') }}">
            Volver
        </a>
    </li>
</ul>
