{% extends '::backend.html.twig' %}
{% block id 'catedra' %}
{% block titulo %}
    <h1>Nueva Catedra</h1>
{% endblock %}
{% block contenido %}
<form action="{{ path('catedra_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="divinterna">   
        {{ form_widget(form) }}
    </div>
    <div class="divbotones">
        <button class="btnaceptar" type="submit"></button>
        <button class="btncancelar" type="button"  onclick='window.location.href = "{{ path('catedra')}}"'></button>
    </div>
</form>

{% endblock %}

    